{% extends 'myapp/base.html' %}


{% block content %}

<h3>สินค้าล่าสุด</h3>
<p>สินค้าล่าสุดของร้าน</p>
<div class="row">
  {% for pd in product %}
  <div class="col-sm-4">
    <div class="card mb-4">
      {% if pd.image %}
      <img class="card-img-top" src="{{ pd.image.url }}">
      {% elif pd.imageurl != None %}
      <img class="card-img-top" src="{{ pd.imageurl }}">
      {% else %}
      <img class="card-img-top" src="/media/default.png">
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{{ pd.name }}</h1>
        <p>{{ pd.price }} บาท/{{ pd.unit }}</p>
        <p>{{ pd.detail|linebreaks|truncatechars_html:100}}</p>
        {% if pd.quantity > 0 %}
        <p>สินค้ามีในสต็อค: {{ pd.quantity}} {{ pd.unit }}</p>
        {% else %}
        <p>
          <font color="red">สินค้าอาจจะหมดสต็อค กรุณาติดต่อแอดมิน</font>
        </p>
        {% endif %}
        {% if pd.instock == True %}
        <button class="btn btn-success" type="submit">สั่งซื้อ</button>
        {% else %}
        <button class="btn btn-warning" type="submit">สินค้าหมด</button>
        {% endif %}
      </div>
      <br><br>
    </div>
  </div>
  {% endfor %}
</div>


<div class="container">
  <center> <a href="{% url 'allproduct-page' %}">
      <h1>ดูสินค้าทั้งหมด</h1>
    </a></center>
  <hr>
</div>


<h3>สินค้าขายดี (ต้อง preorder)</h3>
<p>สินค้าของร้านที่ต้อง preorder</p>
<div class="row">
  {% for pd in preorder %}
  <div class="col-sm-4">
    <div class="card mb-4">
      {% if pd.image %}
      <img class="card-img-top" src="{{ pd.image.url }}">
      {% elif pd.imageurl != None %}
      <img class="card-img-top" src="{{ pd.imageurl }}">
      {% else %}
      <img class="card-img-top" src="/media/default.png">
      {% endif %}
      <div class="card-body">
        <h1 class="card-title">{{ pd.name }}</h1>
        <p>{{ pd.price }} บาท/{{ pd.unit }}</p>
        <p>{{ pd.detail|linebreaks|truncatechars_html:100}}</p>
        {% if pd.quantity > 0 %}
        <p>สินค้ามีในสต็อค: {{ pd.quantity}} {{ pd.unit }}</p>
        {% else %}
        <p>
          <font color="red">สินค้าหมดแล้ว พรีออร์เดอร์ได้</font>
        </p>
        <button class="btn btn-warning" type="submit">Preorder</button>
        {% endif %}
      </div>
      <br><br>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}