{% extends 'myapp/base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      <img src="https://media.bnn.in.th/media/6901443292271/6901443292271-content2.jpg" width="190px" height="190px" style="margin: 10px">
      <h3>{{ product1 }}</h3>
      <p>Vivo V19</p>
      <p>
        สมาร์ทโฟน (โทรศัพท์มือถือพร้อมระบบปฏิบัติการ)
จอแสดงผล Super AMOLED 24-bit (16 ล้านสี)<br>
- จอแสดงผลมีรูสำหรับกล้องหน้า (Punch-Hole Display)<br>
- กว้าง 6.44 นิ้ว (แนวทะแยง)<br>
- ความละเอียด 1080 x 2400 พิกเซล (409 ppi)<br>
- ประเภทจอ หน้าจอกระจกแข็ง<br>
ระบบเซ็นเซอร์ (Sensor)
- ระบบตรวจสอบลายนิ้วมือ (Fingerprint)<br>
- ระบบสแกนลายนิ้วมือใต้หน้าจอ (Fingerprint Under Display)<br>
- ระบบหมุนภาพอัตโนมัติ (Accelerometer)<br>
- ตรวจจับความเคลื่อนไหวของตัวเครื่อง (Accelerometer)<br>
- ระบบเปิด/ปิดหน้าจออัตโนมัติขณะสนทนา (Proximity)<br>
มีสีให้เลือก (Colors) : Black, White
      </p>
    </div>
  </div>
{% endblock content %}
